xml/example-index.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="weboftrustdatapacket">
      <attribute name="version">
        <data type="decimal"/>
      </attribute>
      <element name="info">
        <ref name="name"/>
        <ref name="timestamp"/>
        <element name="authorityref">
          <data type="NCName"/>
        </element>
      </element>
      <element name="realms">
        <oneOrMore>
          <ref name="realm"/>
        </oneOrMore>
        <element name="datasrc">
          <element name="archive">
            <ref name="filename"/>
            <ref name="timestamp"/>
            <element name="compression">
              <text/>
            </element>
            <ref name="realm"/>
          </element>
          <element name="authoritive">
            <ref name="filename"/>
            <ref name="timestamp"/>
            <element name="archived">
              <text/>
            </element>
            <ref name="realm"/>
          </element>
          <element name="partauthoritive">
            <empty/>
          </element>
          <element name="othernodes">
            <empty/>
          </element>
        </element>
        <element name="authority">
          <element name="authkey">
            <element name="keyfingerprint">
              <data type="anyURI"/>
            </element>
            <element name="signature">
              <text/>
            </element>
            <ref name="type"/>
          </element>
        </element>
      </element>
    </element>
  </start>
  <define name="name">
    <element name="name">
      <text/>
    </element>
  </define>
  <define name="timestamp">
    <element name="timestamp">
      <text/>
    </element>
  </define>
  <define name="realm">
    <element name="realm">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="name"/>
          <ref name="type"/>
          <element name="title">
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="filename">
    <element name="filename">
      <text/>
    </element>
  </define>
  <define name="type">
    <element name="type">
      <text/>
    </element>
  </define>
</grammar>
